{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "modules": false,
      "debug": false,
      "targets": {
        "browsers": ["> 1%", "ie > 8"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-decorators",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
