{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "modules": false,
      "debug": false,
      "targets": {
        "browsers": ["> 1%", "ie > 8"]
      }
    }]
  ]
}
